
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-style: normal;
}

html {
    font-family: "Paperlogy";
}

body {
    width: 100vw;
    height: 100vh;
}



main {
    padding: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.myInformation > div {

}